body{
    background-color:rgb(38, 146, 47);
}
input{
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
}
label{
    margin: 10px;
}
button{
    padding: 7px;
}